body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #0f0;
    font-family: monospace;
    font-size: 3em;
}

.clock {
    display: flex;
}

.time {
    margin: 0 20px;
    text-shadow: 0 0 20px #0f0;
}

#hours::after,
#minutes::after {
    content: ':';
    margin-left: 20px;
}
