.waves {
  font-size: 5em;
  text-align: center;
  margin: 100px 0;
  font-family: sans-serif;
  position: relative;
  color: #fffefa;
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
}

.waves:before, .waves:after {
  content: "ComputerTech";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #010382;
  color: #fff;
  animation: wave 10s linear infinite;
}

.waves:before {
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
  z-index: -1;
}

.waves:after {
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
  z-index: -2;
  animation-delay: -5s;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
